# Build directories
Build/
*-Build/

# Output directories
Bin/*
!Bin/**/
!Bin/*.bat
!Bin/*.sh
Bin/*.app/
Bin/*.app.dSYM/
*-Bin/
Lib/
*-Lib/

# Misc.
configure*
*~
*.swp
.DS_Store
*.log
*.bak

.mayaSwatches/
obj/
Debug/
Release/
Keyboard/
*.manifest

test/
keyboard/
*.manifest
*Log.html
*_Debug.exe
*.pdb
*ilk
*.sdf
*.suo
*.user
*.opensdf
*.bin
*.vshost.exe
*.manifest
*.pyc
data/