# Build directories
Build/
*-Build/

# Output directories
Bin/*
!Bin/**/
!Bin/*.bat
!Bin/*.sh
Bin/*.app/
Bin/*.app.dSYM/
*-Bin/
Lib/
*-Lib/

# Misc.
configure*
*~
*.swp
.DS_Store
*.log
*.bak

.mayaSwatches/
obj/
Debug/
Release/
Keyboard/
*.manifest

test/
Monk_New_Rig2/
keyboard/
*.manifest
*Log.html
*_Debug.exe
*.pdb
*ilk
*.sdf
*.user
*.opensdf
*.bin
*.vshost.exe
*.manifest
*.pyc
data/
string_table.txt
dump.txt
havok_convert_database.txt
data_compiler_database.txt
maya_export_database.txt
data_compiler_result.txt
Application/intermediate/core/actor/
Application/intermediate/preview/actor/
Application/intermediate/world0
Application/intermediate/world1
Application/intermediate/world2
Application/intermediate/world_city
DataCompiler.exe
HavokConverter.exe
*_error.txt
output_rig.txt
game_profile.txt
havokconverter_profile.txt
datacompiler_profile.txt

ipch/
*.suo
.build/
gameDebug.exe
gameDebug