# Build directories
Build/
*-Build/

# Output directories
Bin/*
!Bin/**/
!Bin/*.bat
!Bin/*.sh
Bin/*.app/
Bin/*.app.dSYM/
*-Bin/
Lib/
*-Lib/

# Misc.
configure*
*~
*.swp
.DS_Store
*.log
*.bak

.mayaSwatches/
obj/
Debug/
Release/
Keyboard/
*.manifest

test/
Monk_New_Rig2/
keyboard/
*.manifest
*Log.html
*_Debug.exe
*.pdb
*ilk
*.sdf
*.user
*.opensdf
*.bin
*.vshost.exe
*.manifest
*.pyc
data/
string_table.txt
dump.txt
data_compiler_database.txt
data_compiler_result.txt
DataCompiler.exe
HavokConverter.exe
*_error.txt
output_rig.txt
game_profile.txt
havok_converter_profile.txt
data_compiler_profile.txt
imgui.ini
shell_output.txt

ipch/
*.suo
.build/
gameDebug.exe
gameDebug
*.rdc